RESEND_API_KEY=""

# Twilio as sms broker
TWILIO_ACCOUNT_SID="your_twilio_accound_sid"
TWILIO_AUTH_TOKEN="your_twilio_auth_token"
TWILIO_WHATSAPP_FROM="your_twilio_messaging_phone_number"

#kafka things
KAFKA_CLIENT_ID="your_kafka_client_id"
KAFKA_BROKER=http://localhost:9092 # docker-network:port
CONSUMER_TYPE="sms" # whatsapp, email, or notification

FIREBASE_CLIENT_EMAIL=""

FIREBASE_PRIVATE_KEY=""

FIREBASE_PROJECT_ID=""

KAFKA_BROKER="" 

KAFKA_CLIENT_ID="" 

CONSUMER_TYPE="" 

ZYLA_API_TOKEN=""